mixin menu(data)
    .menu
        ul.menu-item-list
            li.menu-item-list__item WORK
            li.menu-item-list__item ABOUT
            li.menu-item-list__item SEVICES
            li.menu-item-list__item BLOG
            li.menu-item-list__item CONCAT
