doctype html
html(class="no-js", lang="ru")

    include ../components/head/head.pug
    include ../components/_left-sidebar/_left-sidebar.pug
    include ../components/content/content.pug
    include ../components/footer/footer.pug

    head
        +head(head.new)  
    body
        .container
            +_left-sidebar()
            section.center-block
                +content()
                footer
                    +footer()
        

    script(src='%=static=%js/separate-js/svg4everybody.min.js')
    script svg4everybody();

    //- Main scripts. You can replace it, but I recommend you to leave it here
    script(src='%=static=%js/main%=hash=%%=min=%.js')