// File for scss-vars.
// For example: main colors, paddings and so on.


//colors
$color-bg:rgb(255,255,255);
$color-bg-page: rgb(53, 58, 63);
$color-bg-header:rgb(40, 45, 50);
$color-accent:rgb(76, 180, 128);
$color-text:rgb(90, 95, 101);
$color-menu-item:rgba(255, 255, 255, 0.502);
$color-bg-card:rgb(246, 246, 246);
$color-title-card:rgb(53, 58, 63);
$color-caption:rgb(140, 145, 152);




