.title-block{
    width: 800px;
    margin: 200px auto;
    font-family: "Poppins";

    &__title{
        font-size: 62px;
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-transform: uppercase;
        text-align: left;
        line-height: 1.5;
        margin: 0;
    }
    &__title:before{
        @include after-line;
        width: 64px;
        height: 4px;
    }
    &__subtitle{
        font-size: 30px;        
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        line-height: 1.04;
        margin: 30px 0;
    }
    &__text{
        font-size: 22px;
        color: $color-text;
        line-height: 1.636;
        margin-bottom: 60px;
    }
}
  
