mixin news(data)
    .news
        img(class="news__img", src="%=static=%img/assets/news-block/image.png")
        .news__body
            h4.news__title title of a props
            .news__text In hsc habitasse platea dictums. Phasellus finibus ipsum enim, non pretium massa mattis non. Curabitur ut tempus ex. Nunc dictum est enim, consectetur convalis odio mollis tempus.
            button.button-common BUTTON