mixin note-block(data)
    .note-block
        .note-block__body
            .note-block__quotes
            .note-block__text In hac habitasse platea dictumst. Phasellus finibus ipsum enim, non premium massa mattis non. Curabitur ut tempus ex. Nunc dictum est enim, consectetur convallis odio mollis tempus!
            .note-block__caption 
                span Jim Gordon (GCPD)