mixin social-list(data)
    ul.social-list
        li.social-list__item
            img(src="%=static=%img/assets/social-list/facebook.png")
        li.social-list__item
            img(src="%=static=%img/assets/social-list/instagram.png")
        li.social-list__item
            img(src="%=static=%img/assets/social-list/twitter.png")
