mixin cards-block(data) 
    .cards
        div(class="card", data-icon="photo")
            .card__body
                h3.card__title photos
                .card__text Vestibulumsuscipit tortor magna, quis pellentesque arcu volutpat ac. Tempus leo erat, sit amet ullamcorper nisl.
                button.button-common button
        div(class="card", data-icon="film")
            .card__body
                h3.card__title photos
                .card__text Vestibulumsuscipit tortor magna, quis pellentesque arcu volutpat ac. Tempus leo erat, sit amet ullamcorper nisl.
                button.button-common button
        div(class="card", data-icon="download")
            .card__body
                h3.card__title photos
                .card__text Vestibulumsuscipit tortor magna, quis pellentesque arcu volutpat ac. Tempus leo erat, sit amet ullamcorper nisl.
                button.button-common button
